<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Location place:</strong>
  <%= @member.location_place %>
</p>

<p>
  <strong>Household size:</strong>
  <%= @member.household_size %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @member.uid %>
</p>

<p>
  <strong>Pran:</strong>
  <%= @member.pran %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @member.avatar.url(:medium) %>
</p>

<p>
  <strong>Monthly income:</strong>
  <%= @member.monthly_income %>
</p>

<p>
  <strong>Pension saving:</strong>
  <%= @member.pension_saving %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
